*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body{
  width: 100%;
}

h1{
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: normal;
  color:black;
}

h2, a{
  font-family: "DM Serif Display", serif;
  color: #fcfbf1;
}

a{
  font-family: "Nunito", sans-serif;
}

h3, h4, p {
  font-family: "Nunito", sans-serif;
  color: black;
}

h4{
  font-size: larger;
  font-weight: 400;
}

header{
  background-color: #211f60;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  width:100%;
}

a{
  text-decoration: none;
}

header a:hover{
  color: #5ab8c2;
  transition: all, 0.3s ease-in;
}

header img {
  width: 50px;
  height: 50px;
}

.logo{
  display: flex;
  align-items: center;
  font-size: x-large;
}

.header_items{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 1.5rem;
}

.header_media{
  display: none;
}
#home1 {
  position:relative;
}

#carousel {
  /*display: flex;
  flex-direction: column;
  height: 100vh;*/
  width:100%;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

/* Slideshow container */
.slideshow-container {
    width:100%;
    position: relative;
    margin: auto;
}
.texto_fijo{
  position: absolute;
  top:330px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.texto_fijo button {
  font-size: 1.5rem;
  width: fit-content;
  align-self: center;
  font-family: "DM Serif Display", serif;
  background-color: #5ab8c2;
  border-radius: 5px;
  border-color: #fcfbf1;
  color: #fcfbf1;
  padding: 0.5rem;
}

button:hover{
  background-color: #fdc474;
  transition: background-color .3s ease-in-out;
}

.texto_fijo h1 {
  color: #fcfbf1;
  font-size:2.5rem;
  width: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor:pointer;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#home_2{
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
  "objetivo objetivo"
  "izq_home_2 der_home_2";
}

.objetivo{
  grid-area: objetivo;
  padding: 2rem;
  width: 100%;
}

.objetivo p {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

.der_home_2{
  grid-area: der_home_2;
  padding: 2rem;
}

.izq_home_2{
  grid-area: izq_home_2;
  padding: 2rem;
}

.izq_home_2 h4{
  font-weight: 350;
}

#home_2 h1, h4, h2{
  color: black;
}

#home_2 h1{
  color: #5ab8c2;
  font-size: 2.5rem;
}

#home_2 h4{
  font-size: 1.5rem;
  text-align: justify;
}

.izq_home_2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.punto_de_partida{
  padding: 2rem;
  padding-bottom: 4rem;
}

.punto_de_partida h1{
  color: #5ab8c2;
}

.comenzar_links{
 background-color: #211f60;
 display: flex;
}

.div1 a:hover, .div2 a:hover, .div3 a:hover, .div4 a:hover{
  color:#5ab8c2;
  transition: all 0.3s ease-in-out;
} 

.div1, .div2, .div3{
  display: flex;
  background-color: #fdc474;
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
  text-align: center;
  height: 200px;
  width: 400px;
  align-items: center;
}

.div3{
  margin-bottom: 2rem;
}

.div4{
  padding: 2rem;
}

.div1 a, .div2 a, .div3 a, .div4 a{
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  text-decoration:none ;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: normal;
}

.curriculum{
  margin: 5%;
}

.que{
  padding: 3%;
  background-color: #5ab8c2;
  margin: 3%;
}

.como{
  padding: 3%;
  background-color: #5ab8c2;
  margin: 3%;
}

.para_que{
  padding: 3%;
  background-color: #5ab8c2;
  margin: 3%;
}

.entrevistas{
  margin: 5%;
}

.video{
  background-color: #5ab8c2;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 3%
}

.video a{
  text-decoration: underline;
}

.tapa_video{
  width: 100%;
}

footer{
  display: flex;
  width: 100%;
  background-color: #211f60;
  padding: 2rem;
  color: #fcfbf1;
  align-items: center;
  column-gap: 20%;
  align-items: center;
  margin-top: 5rem;
}

footer img{
  width: 200px;
}

footer p{
  color: white;
}

.texto_footer{
  text-align: center;
  width: max-content;
}

.redes_sociales_footer img{
  width: 50px;
  height: 50px;
  row-gap: 1rem;
}

.circulo {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  z-index: 100;
  background-color:#5ab8c2;
  border-radius: 50%;
  left: 65%;
}

.circulo2 {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  position: relative;
  z-index: 50;
  background-color:#fdc474;
  border-radius: 50%;
  top: 13%;
  left: 15%;
}

.circulo3 {
  position: relative;
  --size: 150px;
  width: var(--size);
  height: var(--size);
  background-color:#211f60;
  border-radius: 50%;
  z-index: 50;
  left: 40%;
}

.circulo4 {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  background-color:#fdc474;
  border-radius: 50%;
}

.tests{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: fit-content;
}

.tests h1 {
  padding: 2rem;
  padding-bottom: 0%;
}

.tests h1, .tipos_de_trabajo h1, .texto_empleo h1{
  color: #5ab8c2;
}

.tests h4{
  padding: 2rem;
  padding-top: 0%;
}

.tests a{
  color: black;
  text-align: center;
}

.tests ul{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: fit-content;
}

.titulo_test{
  font-size: 130%;
  font-weight: bold;
}

a :hover{
  color: #5ab8c2;
  transition: color 0.3s ease-in;
}

.link1, .link2, .link3{
  background-color:#fdc474;
  padding: 7rem;
  margin: 5%;
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
}

.quienes_somos_div{
  display: flex;
  padding: 2rem;
  row-gap: 2rem;
  flex-direction: column;
}

.quienes_somos_div h1{
  color: #5ab8c2;
}

header nav{
  display: none;
}

.texto_empleo{
  display: flex;
  padding: 2rem;
  row-gap: 1rem;
  flex-direction: column;
}

.tipos_de_trabajo{
  padding: 2rem;
  max-width: 100%;
}

.tipos_de_trabajo ul {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
}

.tipos_de_trabajo p {
  display: flex;
  background-color: #fdc474;
  padding: 1rem;
  text-align: center;
  max-width: 100%;
  flex: 1 1 200px;
  border-radius: 15px;
  align-items: center;
}

.plataformas, .contactos, .sectores_laborales{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  row-gap: 1rem;
}

.plataformas ul, .contactos ul, .sectores_laborales ul{
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


.plataformas h3, .contactos h3, .sectores_laborales h3{
  font-size:x-large;
  color:#fdc474;
}

.plataformas a, .contactos a, .sectores_laborales a{
  color: black;
}

.plataformas h4, .contactos h4, .sectores_laborales h4{
  margin: 1rem;
}

.extra{
  background-color:#211f60;
  border-radius: 10px;
  padding: 2rem;
  color: #fcfbf1;
}

.sectores_laborales ul{
  font-family: "Nunito", sans-serif;
  display: flex;
}

@media screen and (max-width:666px) {
  html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  header{
    background-color: #211f60;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
  }

  .header_items{
    display: none;
  }

  .logo{
    display: none;
  }

  .header_media{
    display: contents;
  }

  .hamburger{
    position:fixed;
    background-color:transparent;
    left:0;
    top:0;
    height:30px;
    width:30px;
    padding:20px 20px;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index:1002;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .hamburger.is-active{
    background-color:none;
  }
  ._layer{
    background:#fdc474;
    margin-bottom:4px;
    border-radius:2px;
    width:28px;
    height:4px;
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top{
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  .hamburger:hover .-bottom{
    -webkit-transform:translateY(50%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    }
  .hamburger.is-active .-top{
    -webkit-transform:translateY(200%) rotate(45deg) !important;
    -ms-transform:translateY(200%) rotate(45deg) !important;
    transform:translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid{
    opacity:0;
  }
  .hamburger.is-active .-bottom{
    -webkit-transform:translateY(-200%) rotate(135deg) !important;
    -ms-transform:translateY(-200%) rotate(135deg) !important;
    transform:translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active{
    display: initial;
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal{
     background-color: rgba(255, 255, 255, 0.95);
      bottom: 0;
      height: fit-content;
      left: 0;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      transform: translate3d(0px, -100%, 0px);
      transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
      width: 100%;
      z-index: 1001;
  }
  .menuppal ul{
    margin:0;padding:0;
  }
  .menuppal ul li { 
    list-style: none;
    text-align:center;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size:1.5rem;
    line-height:3em;
    height:3em;
    color:#211f60;
    text-transform:none;
    font-weight:bold;
  }
  .menuppal ul li a{
    text-decoration:none;
    color:#5ab8c2;
  }
  .menuppal ul li a:hover{
    text-decoration:none;
    color:#333;
  }

  #carousel{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  .dot{
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }

  .slideshow-container{
    width: 100%;
  }

  .texto_fijo{
    margin: unset;
    top: 25%;
  }

  .texto_fijo h1{
    font-size: 1.5rem;
  }

  .der_home_2{
    display: none;
  }

  #home_2 h1{
    text-align: center;
    font-size: 1.5rem;
  }

  #home_2 h4{
    font-size: 1rem;
    padding: 0.5rem;
  }

  #home_2{
    grid-template-areas: 
    "izq_home_2 izq_home_2";
    height: fit-content;
    padding-bottom: 0;
  }

  .der_home_2{
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  footer{
    width: 100%;
    flex-direction: column ;
    row-gap:5rem;
    margin-top: 10rem;
  }

  .texto_footer{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  main{
    width: 100%;
    flex-direction: column;
  }

  .comenzar_links{
    flex-direction: column;
    align-items: center;
  }

  .div1, .div2, .div3{
    text-align: center;
  }

  .tests ul{
    flex-direction: column;
  }

  .tests a{
    max-width: 100%;
    padding: 7rem;
  }
}